.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  height: 50%;
}

.sidenav .mat-toolbar {
  box-shadow: 2px 0 6px rgba(0, 0, 0, .9)
}

.mat-toolbar.mat-primary {
  position:sticky;
  top: 0;
  z-index: 1;
}
@media (min-width: 700px) {
  .sidenav{
    display: none;
    
  }
  

}
@media  (max-width: 576px){

  .navcon{
    display: none;
    z-index: -1;
  }
}
.logo{
  text-decoration:none;
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
  padding: 10px 30px;
}
.bay{
  position: relative;
  left: 25px;
  color: white;
}
#search{
  width: 350px;
  height: 30px;
  margin-left: 35px;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  text-align: center;
  border-right: none;
}
.sbutton{
  height: 29px;
  color: black;
  cursor: pointer;
  background: white;
  border-bottom-right-radius: 13px;
  border-top-right-radius: 13px;
  border-left: none;
}
.space{
  flex: 1 1 auto;
}
.navcon a{
  display: flex;
  float: left;
  /* flex-wrap: wrap; */
  margin: 0, 10px;
  color: white;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}