<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">
        <mat-icon>home</mat-icon>Home
      </a>
      <a mat-list-item href="#">
        <mat-icon>search</mat-icon>Business-Finder
      </a>
      <a mat-list-item href="#">
        <mat-icon>add_circle</mat-icon>Add Business
      </a>
      <a mat-list-item href="#">
        <mat-icon>email</mat-icon>Contact Us
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="bay"><mat-icon style="font-size:32px;">business_center</mat-icon></span>
      <a href="#" class="logo">baybiz</a>
      <input type="search" name="srch" id="search" placeholder="Search Business or Type Keyword"><mat-icon class="sbutton">search</mat-icon>
      <span class="space"></span>
      <div class="navcon">
        <a href="#"><mat-icon>home</mat-icon>Home</a>
        <a href="#"><mat-icon>search</mat-icon>Business-Finder</a>
        <a href="#"><mat-icon>email</mat-icon>Contact Us</a>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
